@charset "utf-8";

body 
{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    color: rgb(0, 151, 151);
}

h1#principal
{
    text-align: center;
    background-color:  rgb(0, 70, 70);;
    color: white;
}

h2
{
    color: rgb(0, 70, 70);
}
